@import "tailwindcss";

:root {
  --bg-main: #0E0F12;
  --bg-section: #12141A;
  --bg-card: #161A22;
  --border: #1F2430;
  --accent: #FF8A00;
  --text-main: #EDEDED;
  --text-secondary: #A1A7B3;
  --text-muted: #7C8394;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Inter, system-ui, sans-serif;
}


.input {
  @apply w-full px-4 py-3 rounded-lg bg-[var(--bg-card)] border border-[var(--border)] text-[var(--text-main)] placeholder-[var(--text-secondary)] focus:outline-none focus:border-[var(--accent)];
}
